In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/VitorBonella/PL-Dataset/main/dataset.csv',sep=";") #Leitura dos dados para o pandas
df.head(2)

,id,data,sfh5711,sfh3400,tsl261r,sfh3410,sfh2430,bp104fas,tsl13s,tsl2569t_c,...,i6,i7,probmax,energia,entropia,contraste,homogeneidade,correlacao,tipo_lampada,potencia
0,355,2013-09-08 19:25:49,2568,1096,3932,914,855,2531,2406,6496,...,"-1,41733745231029e-006","3,15336969940052e-009","0,890374128851521","3,17034178175013","6,5716176171224","-30,7129899022437","3,76304934586401","0,00030352446061056",metalica ...,400
1,356,2013-09-08 19:26:51,2651,1168,4095,993,923,2857,2446,6536,...,"-6,85966112547544e-011","3,90722879150443e-015","0,874335002692948","3,05605231787486","7,56143396285353","-37,1051952158663","3,72262223245045","0,000268692571829909",metalica ...,400

In [18]:
df.set_index('id',inplace=True) #Transformando a coluna id no indice da tabela

#Observem que a classe esta separada em duas colunas então devemos concatenadas para formar uma coluna só chamada classe
df['classe'] = df['tipo_lampada'].str.replace(" ", "") + df['potencia'].astype(str) 
df['classe']

id
355    metalica400
356    metalica400
357    metalica400
358    metalica400
359    metalica400
          ...
656    metalica250
657    metalica250
658    metalica250
659    metalica250
660    metalica250
Name: classe, Length: 297, dtype: object

In [20]:
# Lista de Indices
HU = ['i1', 'i2', 'i3', 'i4','i5', 'i6', 'i7']
MY = HU

In [21]:
# Verificar o tipo da coluna
print(list(df[MY].dtypes)) #o list(...) foi usado apenas para imprimir na vertical
df[MY].head(2)

[dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

,i1,i2,i3,i4,i5,i6,i7
id,,,,,,,
355,"0,168083620456198","0,000614508479637171","0,00013077624387807","5,71775104737315e-005","3,80815942436415e-009","-1,41733745231029e-006","3,15336969940052e-009"
356,"0,164506924542429","0,0010869024475826","4,2876190463528e-005","1,01157608366481e-008","-5,39593107944031e-015","-6,85966112547544e-011","3,90722879150443e-015"

In [22]:
'''
Os dados dos descritores como podemos observar na tabela acima estão com ","
porém o padrão para ponto flutuante (float) em python é "." logo a biblioteca 
entendeu que se tratavam de strings (objects para o pandas) e não de floats 
assim é importante transformar esses dados para float.
'''
df[MY] = df[MY].apply(lambda x: x.str.replace(',', '.').astype(float), axis=1)

[dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64')]

,i1,i2,i3,i4,i5,i6,i7
id,,,,,,,
355,0.168084,0.000615,0.000131,5.717751e-05,3.808159e-09,-1.417337e-06,3.153370e-09
356,0.164507,0.001087,0.000043,1.011576e-08,-5.395931e-15,-6.859661e-11,3.907229e-15

## Criando zeroR

In [29]:
from sklearn.model_selection import cross_val_predict 
from sklearn.dummy import DummyClassifier

from sklearn.metrics import confusion_matrix


zR = DummyClassifier()
y_pred = cross_val_predict(zR, df[MY], df['classe'], cv=5)
conf_mat = confusion_matrix(df['classe'], y_pred)

print(conf_mat)

[[ 0  0 21  0  0  0  0  0  0]
 [ 0  0 23  0  0  0  0  0  0]
 [ 0  0 49  0  0  0  0  0  0]
 [ 0  0 37  0  0  0  0  0  0]
 [ 0  0 32  0  0  0  0  0  0]
 [ 0  0 35  0  0  0  0  0  0]
 [ 0  0 33  0  0  0  0  0  0]
 [ 0  0 37  0  0  0  0  0  0]
 [ 0  0 30  0  0  0  0  0  0]]